# Orquestração de tabelas para banco de dados

## Diagrama do Banco de dados
O Projeto é a partir de uma base de vendas do Kaggle, construir um banco de dados com o schema desenhado abaixo.
Todo o tratamento dos dados e a ingestão será feito com a linguagem Python.

![Schema](schema.png)

Diagrama construido no Lucid Chart

# Tratamento dos dados

## Import de bibliotecas

In [266]:
import pandas as pd
import urllib
import sqlalchemy as db
import mysql.connector
import numpy as np

## Importando os dados
Importando a tabela completa original que dará origem as dimensões e tabela fato proposta.

In [267]:
df_geral = pd.read_csv('/home/anderson/Downloads/Superstore.csv', encoding='iso-8859-1')
df_geral.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,1,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.00,41.9136
1,2,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.00,219582.0000
2,3,CA-2013-138688,13-06-2013,17-06-2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,0.00,6.8714
3,4,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383031.0000
4,5,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22368,2.0,0.20,2.5164

Verificando as informações sobre os dados

In [268]:
df_geral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   object
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  subcategory    9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   object
 18  quantity       9994 non-null   float64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: float64(3), int64(2), object(16)
memory usage: 1.6+ MB

Transformando as colunas para nomes minúsculos

In [269]:
df_geral.columns = df_geral.columns.str.lower()\
                    .str.replace(' ','_')\
                        .str.replace('-','')

In [270]:
df_geral.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'subcategory',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

## Criando a tabela customer

In [271]:
customer = df_geral.loc[:,['customer_id','customer_name','segment']]\
            .drop_duplicates()
customer

     customer_id      customer_name      segment
0       CG-12520        Claire Gute     Consumer
2       DV-13045    Darrin Van Huff    Corporate
3       SO-20335     Sean O'Donnell     Consumer
5       BH-11710    Brosina Hoffman     Consumer
12      AA-10480       Andrew Allen     Consumer
...          ...                ...          ...
8666    CJ-11875       Carl Jackson    Corporate
9209    RS-19870         Roy Skaria  Home Office
9399    SC-20845         Sung Chung     Consumer
9441    RE-19405    Ricardo Emerson     Consumer
9558    SM-20905  Susan MacKendrick     Consumer

[793 rows x 3 columns]

## Criando a tabela sales

In [321]:
sales = df_geral.loc[:,['order_id','order_date', 'ship_date', 'ship_mode','customer_id','postal_code','product_id']]
sales

,order_id,order_date,ship_date,ship_mode,customer_id,postal_code,product_id
0,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,42420,FUR-BO-10001798
1,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,42420,FUR-CH-10000454
2,CA-2013-138688,13-06-2013,17-06-2013,Second Class,DV-13045,90036,OFF-LA-10000240
3,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,33311,FUR-TA-10000577
4,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,33311,OFF-ST-10000760
...,...,...,...,...,...,...,...
9989,CA-2011-110422,22-01-2011,24-01-2011,Second Class,TB-21400,33180,FUR-FU-10001889
9990,CA-2014-121258,27-02-2014,04-03-2014,Standard Class,DB-13060,92627,FUR-FU-10000747
9991,CA-2014-121258,27-02-2014,04-03-2014,Standard Class,DB-13060,92627,TEC-PH-10003645
9992,CA-2014-121258,27-02-2014,04-03-2014,Standard Class,DB-13060,92627,OFF-PA-10004041
9993,CA-2014-119914,05-05-2014,10-05-2014,Second Class,CC-12220,92683,OFF-AP-10002684

## Criando a tabela location

In [273]:
location = df_geral.loc[:,['country', 'city', 'state','postal_code', 'region']]\
                .drop_duplicates()
location

            country             city           state  postal_code   region
0     United States        Henderson        Kentucky        42420    South
2     United States      Los Angeles      California        90036     West
3     United States  Fort Lauderdale         Florida        33311    South
5     United States      Los Angeles      California        90032     West
12    United States          Concord  North Carolina        28027    South
...             ...              ...             ...          ...      ...
9760  United States       Springdale        Arkansas        72762    South
9801  United States             Lodi      California        95240     West
9834  United States         La Porte           Texas        77571  Central
9868  United States            Mason            Ohio        45040     East
9881  United States        Woodstock         Georgia        30188    South

[632 rows x 5 columns]

## Criando a tabela product

In [274]:
product = df_geral.loc[:,['product_id', 'category', 'subcategory','product_name']]\
            .drop_duplicates()
product

,product_id,category,subcategory,product_name
0,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
3,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System
...,...,...,...,...
9521,TEC-PH-10002817,Technology,Phones,RCA ViSYS 25425RE1 Corded phone
9562,TEC-MA-10003589,Technology,Machines,Cisco 8961 IP Phone Charcoal
9604,OFF-AP-10003099,Office Supplies,Appliances,"Eureka Hand Vacuum, Bagless"
9673,TEC-PH-10002645,Technology,Phones,LG G2
9935,OFF-ST-10001627,Office Supplies,Storage,Eldon Jumbo ProFile Portable File Boxes Graphi...

## Criando conexão com o banco de dados local

In [275]:
usuario = 'root'
senha = 'meu_banco'
nome_banco_de_dados = 'superstore_db'

url_conexao = f'mysql+mysqlconnector://{usuario}:{senha}@localhost/{nome_banco_de_dados}'

engine = db.create_engine(url_conexao)

# Carga de dados

## Inserindo dados

In [44]:
customer.to_sql(name='customer',con=engine, if_exists='append',schema='superstore_db',index= False)

793

In [88]:
location.to_sql(name='location',con=engine, if_exists='append',schema='superstore_db',index= False)

632

Nessa base havia muitos produtos com id duplicado, o que não é aceito pelo banco. Portanto fiz um tratamento nos
product_ids para torna-los únicos

In [282]:
id_dedup = product[product['product_id'].duplicated()].product_id\
    .apply(lambda x: str.split(x,'-')[0] + '-' + str.split(x,'-')[1]+ '-' + str(int(str.split(x,'-')[2]) + 1))

product.loc[product['product_id'].duplicated(),'product_id'] = id_dedup

In [284]:
product.to_sql(name='product',con=engine, if_exists='append',schema='superstore_db',index= False)

1894

Na tabela sales também haviam id's duplicados

In [346]:
id_dedup = sales[sales['order_id'].duplicated()]['order_id']\
    .apply(lambda x: str.split(x,'-')[0] + '-' + str.split(x,'-')[1]+ '-' + str(int(str.split(x,'-')[2]) + np.random.randint(10)))

sales.loc[sales['order_id'].duplicated(),'order_id'] = id_dedup

In [347]:
sales.to_sql(name='sales',con=engine, if_exists='append',schema='superstore_db',index= False)

9994

## Observações Finais
- Não era esperado existir id's duplicados para algumas tabelas.    

- O processo poderia ter sido um pouco mais simples se não houvesse tabelas com id's duplicados mas, para esse projeto decidi corrigir os id's.    
No entanto se isso ocorrer em um negócio pode estar ocorrendo algum problema de cadastro de produto e isso precisará ser entendido melho